shedproj/db_envs.sh
shedproj/shedproj/__pycache__/
simplepwd/__pycache__/*.*
simplepwd/__pycache__/__init__.cpython-312.pyc
simplepwd/__pycache__/admin.cpython-312.pyc
simplepwd/__pycache__/apps.cpython-312.pyc
simplepwd/__pycache__/models.cpython-312.pyc
simplepwd/__pycache__/urls.cpython-312.pyc
simplepwd/__pycache__/views.cpython-312.pyc
simplepwd/static/images/eagle.png
shedproj/__pycache__
